<!-- <app-dashboard-header [header]="dashboardType"></app-dashboard-header>
<div>
    <div class="container">
        <div style="margin-top: 6%; border-color: rgb(73, 71, 71); border: solid; padding: 20px;"
            *ngFor="let i of checklistdataarray; let unique = index">
            <div class="form-inline"><h4>Account: &nbsp;</h4>{{i.accountName}} <h4>&nbsp;| Team:&nbsp;</h4> {{i.teamName}} <h4>&nbsp;| Checklist: &nbsp;</h4>{{i.processName}} </div>
            <hr>
            <div class="question" *ngFor="let j of i.question;let x = index">
                <div class="form-group">
                    <label for="sel1">
                        <h5>{{x+1}}) {{j.question}}</h5>
                    </label>
                    <select class="form-control" [(ngModel)]="j.selectedAnswerId"
                        (selectionChange)="onSelect(i,j, unique, x)" id="sel1">
                        <span class="label">Selcet one</span>
                        <option *ngFor="let k of j.answer" [value]="k.answerId">
                            {{k.answer}}
                        </option>
                        <option [value]="0">N/A</option>option>
                    </select>
                    <br>
                    <i> <b>Upload File: </b></i>
                    <input #file type="file" [hidden]="false" (change)="uploadFile($event.target.files, unique, x)">
                </div>
                <div class="form-group">
                    <span class="label">Leave a comment :</span>
                    <textarea class="form-control" rows="2" id="comment"></textarea>
                </div>
            </div>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary" (click)="onsubmit()">submit</button>
    </div>
</div>
<app-footer></app-footer>  -->






<!-- <app-dashboard-header [header]="dashboardType"></app-dashboard-header> -->
<div class="container">
    <div style="margin-left: 2%;margin-top: 1%;margin-bottom: 3%; color: teal;"><b>Kindly upload documents in pdf, docx, txt, png, xlsx, csv format only</b></div>
    <div style="margin-top: 6%; border-color: rgb(73, 71, 71); border: solid; padding: 20px;"
        *ngFor="let i of checklistdataarray; let unique = index">
        <div class="form-inline">
            <h4>Account: &nbsp;</h4>{{i.accountName}} <h4>&nbsp;| Team:&nbsp;</h4> {{i.teamName}} <h4>&nbsp;| Checklist:
                &nbsp;</h4>{{i.processName}}
        </div>
        <hr>
        <div class="question" *ngFor="let j of i.question;let x = index">

            <mat-vertical-stepper [linear]="!isLinear" #stepper>
                <mat-step [stepControl]="firstFormGroup">

                    <form [formGroup]="firstFormGroup">
                        <span class="ng-star-inserted"></span>
                        <div>
                            <ng-template matStepLabel>{{x+1}}) {{j.question}}</ng-template>

                            <mat-form-field style="width: 60%;">


                                <mat-select placeholder="Select" formControlName="firstCtrl"
                                    [(ngModel)]="j.selectedAnswerId" (selectionChange)="onSelect(i,j, unique, x)"
                                    required>
                                    <mat-option *ngFor="let k of j.answer" [value]="k.answerId">
                                        {{k.answer}}
                                    </mat-option>
                                    <mat-option [value]="0">N/A
                                    </mat-option>
                                </mat-select>



                            </mat-form-field>
                            <i> <b style="margin-left: 5%;">Upload File: </b></i>
                            <input #file type="file" [hidden]="false"
                                (change)="uploadFile($event.target.files, unique, x)">

                        </div>
                        <div>
                            <ng-template matStepLabel>COMMENTS</ng-template>
                            <mat-form-field style="width: 60%;height:4%;" class="example-full-width">
                                <textarea matInput placeholder="Leave a comment"></textarea>
                            </mat-form-field>
                        </div>
                    </form>
                </mat-step>
                <!-- <mat-step [stepControl]="secondFormGroup" optional>
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>UPLOAD FILE</ng-template>

                <br>
                <input #file type="file" [hidden]="false" (change)="uploadFile($event.target.files,x,j)"> -->
                <!-- <button type="button" (click)="uploadFile($event.target.files)">Ok</button> -->
                <!-- <button mat-button #upload (click)="file.click()"><b>Choose File</b></button> -->

                <!-- <div>
                    <br> -->
                <!-- <button mat-button matStepperPrevious>Back</button> -->
                <!-- <button mat-button matStepperNext>Next</button> -->
                <!-- </div>
            </form>
        </mat-step> -->
                <!-- <mat-step>
            <div>
                <ng-template matStepLabel >COMMENTS</ng-template>
                <mat-form-field style="width: 80%;" class="example-full-width">
                    <textarea matInput placeholder="Leave a comment"></textarea>
                </mat-form-field>
             </div>
        </mat-step> -->
            </mat-vertical-stepper>

        </div>

        <!-- <button mat-raised-button (click)="isOptional = !isOptional" style="align-content: center;margin: auto;margin-left: 45%">
    {{!isOptional ? 'Enable optional steps' : 'Disable optional steps'}}</button> -->
    </div>
</div>

<!-- <button type="button" (click)="RequestUpload()">Ok</button> -->

<button mat-raised-button (click)="onsubmit()"
    style="align-content: center;margin: auto;margin-left: 45%">submit</button>
